h6 {

    color: rgb(231, 63, 236);
    background-color: azure;
    border: 1px solid blue;
    text-align: justify;
   }
   #id1{
        color: rgb(207, 247, 62);
        background-color: black;
       }